<!DOCTYPE html>
<html class="gr__waichun-381miniproject_mybluemix_net">
  <head>
    <title>
      <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="/css/w3.css"/>
  </head>
  <body>
    <header class="w3-container w3-blue">
      <h1>
        <%= title %>
      </h1>
    </header>
    <div class="w3-quarter w3-margin-top">

    </div>
    <div class="w3-container w3-half w3-margin-top">
      <p><%= content %></p>
      <p>
        <a href=/<%= link %>>Click Here</a> to return.
      </p>
    </div>
    <div class="w3-quarter w3-margin-top">

    </div>
  </body>
</html>
